@media (max-width: 500px){
    .main{
        background: url("images/mobile/image-hero.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 170vh;
    }

    .logo{
        z-index: 11;
        max-width: 50%;
        padding: 10vh 0;
    }

    .nav-bar{
        margin: 0 0 0 0;
        position: fixed;
        z-index: 10;
        inset: 0 0 0 0;
        width: 100%;
        background: hsl(0, 0%, 0%);
        transform: translateX(1000%);
        transition: transform 350ms ease-out;
    }

    .nav-bar[data-visible="true"] {
        transform: translateX(0%);
    } 

    .nav-bar ul{
        display: block;
        margin: 40vh 0
    }

    .nav-bar ul li{
        padding: 1.5vh 8vw;
        font-size: 5vw;
    }

    .nav-toggle{
        z-index: 10;
        display: block;
        width: 8%;
        position: relative;
        top: -15vh;
        left: 80vw;
    }

    .toggle-close{
        z-index: 10;
        width: 8%;
        position: relative;
        top: -16vh;
        left: 80vw;
    }

    .write-up{
        margin: 25vh auto 0;
        width: 100%;
    }

    .write-up h1{
        padding: 4vh 4vw;
        font-size: 12vw;
    }

    .flex-space{
        display: block;
    }

    .VR-man{
        display: none;
    }

    .VR-man2{
        display: block;
        width: 100%;
        margin: 15vh auto 0;
    }

    .write-up2{
        background-color: none;
        margin: 8vh auto;
        width: 100%;
    }

    .write-up2 h1{
        padding: 0;
        width: 100%;
        text-align: center;
        font-size: 9vw;
    }

    .write-up2 p{
        font-size: 3.5vw;
        padding: 0;
        width: 75%;
        margin: 4vh auto;
        text-align: center;
    }

    .grid{
        display: block;
    }

    .grid-writeup h1{
        text-align: center;
        width: 100%;
        font-size: 8vw;
        margin: 20vh auto 15vh;
    }

    .grid-writeup p{
        display: none;
    }

    .img1-1{
        display: none;
    }

    .img2-1{
        display: none;
    }

    .img3-1{
        display: none;
    }

    .img4-1{
        display: none;
    }

    .img5-1{
        display: none;
    }

    .img6-1{
        display: none;
    }

    .img7-1{
        display: none;
    }

    .img8-1{
        display: none;
    }
    .img1-2{
        margin: 3vh auto 0;
        display: block;
        width: 100%;
    }
    
    .img2-2{
        margin: 3vh auto 0;
        display: block;
        width: 100%;
    }
    
    .img3-2{
        margin: 3vh auto 0;
        display: block;
        width: 100%;
    }
    
    .img4-2{
        margin: 3vh auto 0;
        display: block;
        width: 100%;
    }
    
    .img5-2{
        margin: 3vh auto 0vh;
        display: block;
        width: 100%;
    }
    
    .img6-2{
        margin: 3vh auto 0;
        display: block;
        width: 100%;
    }
    
    .img7-2{
        margin: 3vh auto 0;
        display: block;
        width: 100%;
    }
    
    .img8-2{
        margin: 3vh auto 0;
        display: block;
        width: 100%;
    }

    .grid h2{
        font-size: 5vw;
        top: 15vh;
        left: 4vw;
        width: 28%;
    }

    .grid-img1:hover .overlay{
       background: none;
       width: 0;
       height: 0;
    }

    .grid-img1:hover h2{
        color: hsl(0, 0%, 100%);
    }

    .grid-img2:hover .overlay{
        background: none;
        width: 0;
        height: 0;
    }

    .grid-img3:hover .overlay{
        background: none;
        width: 0;
        height: 0;
    }

    .grid-img4:hover .overlay{
        background: none;
        width: 0;
        height: 0;
    }

    .grid-img5:hover .overlay{
        background: none;
        width: 0;
        height: 0;
    }

    .grid-img6:hover .overlay{
        background: none;
        width: 0;
        height: 0;
    }

    .grid-img7:hover .overlay{
        background: none;
        width: 0;
        height: 0;
    }

    .grid-img8:hover .overlay{
        background: none;
        width: 0;
        height: 0;
    }

    .last-text-on-grid{
        border: 1px solid hsl(0, 0%, 0%);
        display: block;
        width: 50%;
        margin: 10vh auto 0;
        text-align: center;
        font-size: 4vw;
    }

    .footer{
        height: fit-content;
        margin: 10vh 0 0 0;
    }

    .logo2{
        width: 40%;
        margin: 8vh 0 0 28vw;
        padding: 0;
    }

    .footer-li{
        text-align: center;
        margin: 5vh auto 0;
    }

    .footer-li ul{
        display: block;
    }

    .footer-li ul li{
        font-size: 3.5vw;
    }

    .footer-icons{
        width: 39%;
        margin: 4vh auto 0;
        display: flex;
        top: 0;
        left: 0;
    }

    .footer-icons img{
        padding: 0 0 0 3vw;
    }

    .footer-contents p{
        top: 0;
        left: 0;
        padding: 4vh 0 6vh 0;
        width: 100%;
        font-size: 3vw;
        text-align: center;
    }
}

@media (max-width: 425px){
   .grid h2{
        top: 14vh;
   }
}

@media (max-width: 379px){
    .grid h2{
        top: 12vh;
    }
}

@media (max-width: 375px){
    .main{
        min-height: 120vh;
    }

    .toggle-close{
        top: -15vh;
    }

    .img6-2{
        margin: 8vh auto 0;
    }

    .img7-2{
        margin: 10.5vh auto 0;
    }

    .img8-2{
        margin: 10.5vh auto 0;
    }

    .last-text-on-grid{
        margin: 12vh auto 0;
    }

    .footer-icons{
        width: 40%;
    }

    .footer-icons img{
        width: 23%;
    }
}